<h1>Profile</h1>

<% if current_user %>
    <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
    <%= button_to 'Home', home_page_path, class:"btn btn-warning" %>
    </div>
    <% end %>


<% if current_user %>
<strong>Logged in as:</strong> 
<%= current_user.email %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<h4>Borrowed Books</h4>
<table>
<tbody>
<td>Title</td>
<td>Email</td>
<td>Return By</td>
</tbody

<tbody>
<% @BooksUser.each do |bookuser| %>
  <tr>
    <% if bookuser.user_id == current_user.id && current_user.book.find_by_id(bookuser.book_id).status == false %>
    <td><%= Book.find_by_id(bookuser.book_id).title %></td>
    <td><%= User.find_by_id(bookuser.user_id).email %></td>
    <td><%= (bookuser.created_at + 7.days).strftime("%B %d, %Y") %></td>
    <td><div class="btn btn-success btn-sm"><%= link_to 'Return', returnBook_book_path(bookuser.book_id) %></div></td>    
    </tr>
  <% end %>
<% end %>
</table>


<h4>Waitlisted Book</h4>
<table>
<tbody>
<td>Title</td>
<td>Copies</td>
</tbody

<tbody>
<% @Waitlist.each do |waitlist| %>
  <tr>
    <% if waitlist.email == current_user.email %>
    <td><strong><%= Book.find_by_id(waitlist.book_id).title %></td>
    <td><%= Book.find_by_id(waitlist.book_id).copies %></strong></td>
    <td><div class="btn btn-success btn-sm"><%= link_to 'View', show_book_path(waitlist.book_id) %></div></td>
    <td><div class="btn btn-danger btn-sm"><%= link_to 'Destroy', removeWaitlist_book_path(waitlist.id) %></div</td>        
    </tr>
  <% end %>
<% end %>
</table>
  
  <% end %>
  