<h1>Profile</h1>


<% if current_user %>
<strong>Logged in as:</strong> 
<%= current_user.email %>
<div class="btn btn-warning btn-sm">
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>
<div class="btn btn-warning btn-sm">
  <%= link_to 'Back', show_book_path(@book.id) %>
  </div>
<h2>Details On - <%= @book.title %></h2>
<table>
<tbody>
<td>Email</td>
<td>Checked out</td>
</tbody
</table>

<tbody>
<% @BooksUser.each do |bookuser| %>
  <tr>
  <% if bookuser.book_id == @book.id %>
  <td><%= User.find_by_id(bookuser.user_id).email %></td>
  <td><%= (bookuser.created_at).strftime("%B %d, %Y") %></td> 
  </tr>
  <% end %>
  <% end %>
  
  
  <table>
  <tbody>
  <td>Title</td>
  <td>Email</td>
  <td>Return Date</td>
  </tbody
  <tbody>
  <h2>Log Of Returned Books</h2>
  <% @Log.each do |log| %>
      <% if (log.title == @book.title) %>
      <tr>
      <td><%= log.title %></td>
      <td><%= log.email %></td>
      <td><%= (log.created_at).strftime("%B %d, %Y") %></td>
      </tr>
      <% end %>
      <% end %>
      </tbody>
      </table>
  
  <% end %>
  