<div class="p-3 mb-2 bg-light text-black " style="height: 100%;">
<nav class="navbar navbar-expand-lg justify-content-center">
<% if current_user %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
    <%= button_to 'Profile', show_user_path, class:"btn btn-primary" %>
    <%= button_to 'Home', home_page_path, class:"btn btn-warning" %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path, class:"btn btn-success" %>
    <%= button_to 'Sign in', new_user_session_path, class:"btn btn-primary" %>
<% end %>

<% if current_user && current_user.admin %>
  <%= button_to 'New Book', new_book_path, class:"btn btn-success" %>
  <%= button_to 'Library Log', log_book_path, class:"btn btn-info" %>
<% end %>
</nav>

<div class="row justify-content-center">
<div class="row col-md-6 col-md-push-">
<% if params[:branch_search].count == 1 %>
<h1><%= Branch.find_by(branch_name: params[:branch_search]).branch_name %></h1>
<h4><%= Branch.find_by(branch_name: params[:branch_search]).address %></h1>
<h4><%= Branch.find_by(branch_name: params[:branch_search]).phone %></h1>
<% else %>
<h1>Full Branch Search</h1>
<% end %>

<div>
<%= link_to 'All Branches', index_book_path(branch_search: ['Downtown Branch', 'Suburbs Branch','Neighbourhood Branch']), class:"btn btn-warning" %>
<%= link_to 'Downtown Branch', index_book_path(branch_search: ['Downtown Branch']), class:"btn btn-warning" %>
<%= link_to 'Suburbs Branch', index_book_path(branch_search: ['Suburbs Branch']), class:"btn btn-warning" %>
<%= link_to 'Neighbourhood Branch', index_book_path(branch_search: ['Neighbourhood Branch']), class:"btn btn-warning" %>
</div>

</div>
</div>
<div class="row justify-content-center">
<div class="row col-md-6 col-md-push-4">
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Copies</th>
      <% if params[:branch_search].count != 1 %>
      <th>Address</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.copies %></td>
        <% if params[:branch_search].count != 1 %>
        <td><%= book.library_name %></td>
        <% end %>
        <td><%= link_to 'View', show_book_path(book), class:"btn btn-success btn-sm" %></td>    
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_book_path(book), class:"btn btn-warning btn-sm" %></td>    
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm"  %></td>
      </tr>
    <% end %>
    <% end %>

  </tbody>
</table>
</div>
</div>
</div>