<div class="p-3 mb-2 bg-light text-black " style="height: 100%;">
  <nav class="navbar navbar-expand-lg justify-content-center fixed-top bg-warning">
    <h1 style="position: absolute; left: 0px; margin-left: 20px; font-family: 'Times New Roman', Times, serif;">RA-Library</h1>
    <% if current_user %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
    <%= button_to 'Profile', show_user_path, class:"btn btn-primary" %>
    <%= button_to 'Home', home_page_path, class:"btn btn-light" %>
    <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-success" %>
    <%= button_to 'Sign in', new_user_session_path, class:"btn btn-primary" %>
    <% end %>
    <% if current_user && current_user.admin %>
    <%= button_to 'New Book', new_book_path, class:"btn btn-success" %>
    <%= button_to 'Library Log', log_book_path, class:"btn btn-info" %>
    <% end %>
  </nav>
  <div class="row justify-content-center">
    <div class="row col-md-6 col-md-push-">
      <% if params[:branch_search].count == 1 %>
      <h1><%= Branch.find_by(branch_name: params[:branch_search]).branch_name %></h1>
      <h5><%= Branch.find_by(branch_name: params[:branch_search]).address %></h1>
        <h5><%= Branch.find_by(branch_name: params[:branch_search]).phone %></h1>
          <% else %>
          <h1>Full Branch Search</h1>
          <% end %>
          <div>
            <%= link_to 'All Branches', index_book_path(branch_search: ['Downtown Branch', 'Suburbs Branch','Neighbourhood Branch']), class:"btn btn-warning" %>
            <%= link_to 'Downtown Branch', index_book_path(branch_search: ['Downtown Branch']), class:"btn btn-warning" %>
            <%= link_to 'Suburbs Branch', index_book_path(branch_search: ['Suburbs Branch']), class:"btn btn-warning" %>
            <%= link_to 'Neighbourhood Branch', index_book_path(branch_search: ['Neighbourhood Branch']), class:"btn btn-warning" %>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="row col-md-6 col-md-push-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Book Name . . . " onkeyup="srchTitleJS()" id="srchTitle" aria-label="Search" style="margin-top: 10px;">
          <table class="table table-responsive table-striped" id="srchTable">
            <thead>
              <tr>
                <th>Title</th>
                <th>Copies</th>
                <% if params[:branch_search].count != 1 %>
                <th>Name</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @books.each do |book| %>
              <tr>
                <td><%= book.title %></td></b>
                <td><%= book.copies %></td>
                <% if params[:branch_search].count != 1 %>
                <% @details = Branch.find_by(branch_name: book.library_name).address + "\n" + Branch.find_by(branch_name: book.library_name).phone %>
                <td data-toggle="tooltip" data-placement="top"  data-html="true" title="<%= @details %>" style="text-decoration: underline;"><%= book.library_name %></td>
                <% end %>
                <td><%= link_to 'View', show_book_path(book), class:"btn btn-success btn-sm" %></td>    
                <% if current_user && current_user.admin %>
                <td><%= link_to 'Edit', edit_book_path(book), class:"btn btn-warning btn-sm" %></td>    
                <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm"  %></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      function srchTitleJS() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("srchTitle");
        filter = input.value.toUpperCase();
        table = document.getElementById("srchTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>