<% if current_user %>
    <strong>Logged in as:</strong> 
    <%= current_user.email %>
    <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
    <%= button_to 'Profile', show_user_path, class:"btn btn-primary" %>
    <%= button_to 'Home', home_page_path, class:"btn btn-warning" %>
    </div>
    
<% else %>

<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'Sign up', new_user_registration_path, class:"btn btn-warning btn-sm" %>
    <%= button_to 'Sign in', new_user_session_path, class:"btn btn-warning btn-sm" %>
    </div>
<% end %>

<% if params[:branch_search].count == 1 %>
<h1><%= Branch.find_by(branch_name: params[:branch_search]).branch_name %></h1>
<h4><%= Branch.find_by(branch_name: params[:branch_search]).address %></h1>
<h4><%= Branch.find_by(branch_name: params[:branch_search]).phone %></h1>
<% else %>
<h1>Full Branch Search</h1>
<% end %>



<div>
<%= link_to 'All Branches', index_book_path(branch_search: ['Downtown Branch', 'Suburbs Branch','Neighbourhood Branch']), class:"btn btn-warning" %>
<%= link_to 'Downtown Branch', index_book_path(branch_search: ['Downtown Branch']), class:"btn btn-warning" %>
<%= link_to 'Suburbs Branch', index_book_path(branch_search: ['Suburbs Branch']), class:"btn btn-warning" %>
<%= link_to 'Neighbourhood Branch', index_book_path(branch_search: ['Neighbourhood Branch']), class:"btn btn-warning" %>
</div>

<% if current_user && current_user.admin %>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to 'New Book', new_book_path, class:"btn btn-success btn-sm" %>
  <%= button_to 'Library Log', log_book_path, class:"btn btn-primary btn-sm" %>
  </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Copies</th>
      <% if params[:branch_search].count != 1 %>
      <th>Address</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.copies %></td>
        <% if params[:branch_search].count != 1 %>
        <td><%= book.library_name %></td>
        <% end %>
        <td><%= link_to 'View', show_book_path(book) %></td>    
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>

  </tbody>
</table>